extends layout 

block content 
	h1= title 
	each category in categories
		p #[strong #{category._id}]
		ul: each instrument in category.instruments
			li
				a(href=instrument.url)= instrument.name 
				|  (#{counts[instrument._id] ? counts[instrument._id] : 0})