doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Songbird Instruments
      nav 
        a(href='/inventory') Home
        a(href='/inventory/brands') Brands
        a(href='/inventory/instruments') Instruments
        a(href='/inventory/models') Models

    block content
